<div class="jumbotron">
    <h1 class="display-3">Typescript app</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque rerum amet mollitia earum, laboriosam sunt.</p>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, blanditiis.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">Task List</a>
    </p>
</div>